<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="lacti">
{% if page.description %}
	<meta name="description" content="{{ page.description | truncatewords: 120 | strip_newlines | escape_once }}" />
{% else %}
	<meta name="description" content="{{ content | strip_html | truncatewords: 120 | strip_newlines | escape_once }}" />
{% endif %}{% if page.date %}
	<meta http-equiv="date" content="{{ page.date |date: '%A, %d  %Y %H:%M:%S GMT' }}" />
{% endif %}{% if page.tags %}
	<meta name="keywords" content="{{ page.tags | join: ',' }}" />
{% else %}
	<meta name="keywords" content="{{ site.keywords | join: ',' }}" />
{% endif %}
	<meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW" />
	<title>{{ page.title }}</title>
	<link href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" rel="stylesheet">
	<link href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css" rel="stylesheet">
	<link href="/css/markdownpad-github.css" rel="stylesheet">
	<link href="/css/syntax.css" rel="stylesheet">
	<link href="/css/blog-post.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div id="head">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2">
				<a href="/" title="home"><i class="fa fa-home fa-lg"></i></a>
				<a href="/about/" title="about"><i class="fa fa-male fa-lg"></i></a>
				<a href="/archives/" title="archives"><i class="fa fa-file-text-o fa-lg"></i></a>
				<a href="/tags/" title="tags"><i class="fa fa-tags fa-lg"></i></a>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 text-right">
				<a href="https://github.com/lacti" title="github" rel="nofollow"><i class="fa fa-github fa-lg"></i></a>
				<a href="https://twitter.com/lacti" title="twitter" rel="nofollow"><i class="fa fa-twitter fa-lg"></i></a>
				<a href="http://www.slideshare.net/lactrious/presentations" title="slideshare" rel="nofollow"><i class="fa fa-toggle-right fa-lg"></i></a>
				<a href="http://www.linkedin.com/pub/jaeyoung-choi/99/243/861" title="linkedin" rel="nofollow"><i class="fa fa-linkedin fa-lg"></i></a>
				<a href="https://facebook.com/lactrious" title="facebook" rel="nofollow"><i class="fa fa-facebook fa-lg"></i></a>
				<a href="/atom.xml" title="atom" rel="nofollow"><i class="fa fa-rss fa-lg"></i></a>
			</div>
		</div>
	</div>
	<div class="container">
{{ content }}
		
		<footer>
			<hr />
			<div id="footer-menu">
				<a href="#top" title="go to top"><i class="fa fa-chevron-up fa-lg"></i></a>
				<div class="mobile-only">
					<a href="/" title="home"><i class="fa fa-home fa-lg"></i></a>
					<a href="/about/" title="about"><i class="fa fa-male fa-lg"></i></a>
					<a href="/archives/" title="archives"><i class="fa fa-file-text-o fa-lg"></i></a>
					<a href="/tags/" title="tags"><i class="fa fa-tags fa-lg"></i></a>
					<a href="https://github.com/lacti" title="github" rel="nofollow"><i class="fa fa-github fa-lg"></i></a>
					<a href="https://twitter.com/lacti" title="twitter" rel="nofollow"><i class="fa fa-twitter fa-lg"></i></a>
					<a href="http://www.slideshare.net/lactrious/presentations" title="slideshare" rel="nofollow"><i class="fa fa-toggle-right fa-lg"></i></a>
					<a href="http://www.linkedin.com/pub/jaeyoung-choi/99/243/861" title="linkedin" rel="nofollow"><i class="fa fa-linkedin fa-lg"></i></a>
					<a href="https://facebook.com/lactrious" title="facebook" rel="nofollow"><i class="fa fa-facebook fa-lg"></i></a>
					<a href="/atom.xml" title="atom"><i class="fa fa-rss fa-lg"></i></a>
				</div>
			</div>
			<p class="text-right">
				<em>© 2008-2015 Jaeyoung Choi</em>
			</p>
		</footer>
	</div>
	<!-- /.container -->
	<!-- ga -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-51932355-1', 'lacti.me');
		ga('send', 'pageview');
	</script>
</body>
</html>
